# Node.js files
**/node_modules/*

# Output and distribute files
**/dist/*
**/out/*
**/target/*

# Logs
*.log*

# Visual Studio and Visual Studio Code workspace directories
**/.vs/*
**/.vscode/*

.DS_Store

# IntelliJ IDEA
.idea
